// variable
:root {
    --font-body: "Jost", sans-serif;
    --font-heading: 'Laginchy';

    --color-primary: #EF5A38;
    --color-secondary: #0a2b50;
    --color-heading:  #0a2b50;

    --color-default:  rgba(10, 43, 80, 0.7); 
    --color-gray:  #546b85; 
    --color-white: #fff;
    --color-black: #000;
    --color-body: #fff;

    --easing: cubic-bezier(0.67, 0.04, 0.3, 0.91);
}
