.xb-feature-img {
    position: relative;
    .xb-item--img {
        border-radius: 0 !important;
    }
    .shape {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
        @include respond(xs) {
            max-width: 15%;
        }
    }
}
.xb-feature-content {
    margin-left: 25px;
    margin-right: 75px;
    @include respond(md) {
        margin-left: 0;
    }
    @include respond(xs) {
        margin-right: 0;
    }
    .xb-item {
        &--content {
            line-height: 26px;
            color: rgba(10, 43, 80, 0.7);
            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }
        &--list {
            margin: 45px 0 128px;
            li {
                position: relative;
                padding-left: 19px;
                color: var(--color-heading);
                text-transform: capitalize;
                &:not(:last-child) {
                    margin-bottom: 19px;
                }
                &::before {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 50%;
                    height: 6px;
                    width: 6px;
                    background: var(--color-primary);
                    transform: translateY(-50%) rotate(45deg);
                }
            }
        }
        &--btn {
            a {
                gap: 14px;
                display: inline-flex;
                align-items: center;
                line-height: 24px;
                font-weight: 500;
                color: var(--color-heading);
                span {
                    width: 100px;
                    height: 64px;
                    @include center;
                    @include border-radius(100px);
                    background: var(--color-secondary);
                }
            }
        }
    }
}
.xb-feature-wrap {
    margin-left: -25px;
    border-left: 1px solid rgba(10, 43, 80, 0.1);
    @include respond(lg) {
        margin-left: 0;
        display: flex;
        margin-top: 50px;
        border-left: none;
        justify-content: space-between;
        border-bottom: 1px solid rgba(10, 43, 80, 0.1);
    }
    .xb-feature-item {
        text-align: center;
        padding: 41.5px 40px;
        @include respond(lg) {
            padding: 0 105px 40px;
        }
        @media only screen and (max-width: 1023px) {
            padding: 0 90px 40px;
        }
        @include respond(md) {
            padding: 0 70px 40px;
        }
        @include respond(xs) {
            padding: 0 15px 40px;
        }
        @include respond(sm) {
            padding: 0 49px 40px;
        }
        &:not(:last-child) {
            border-bottom: 1px solid rgba(10, 43, 80, 0.1);
            @include respond(lg) {
                border-bottom: none;
                border-right: 1px solid rgba(10, 43, 80, 0.1);
            }
        }
        .xb-item {
            &--number {
                font-weight: 400;
                font-size: 100px;
                line-height: 1;
                text-transform: uppercase;
                color: var(--color-primary);
                @media only screen and (min-width: 1200px) and (max-width: 1300px) {
                    font-size: 95px;
                }
                @include respond(md) {
                    font-size: 75px;
                }
                @include respond(xs) {
                    font-size: 60px;
                }
                .xbo.xbo-auto-theme,
                .xbo.xbo-theme-default {
                    transform: translateY(16px);
                }
            }
            &--text {
                font-weight: 500;
                font-size: 20px;
                display: block;
                margin-top: -5px;
                color: rgba(10, 43, 80, 0.7);
                @include respond(xs) {
                    margin-top: 0;
                }
            }
        }
    }
}
.yr-feature-item {
    padding: 0 50px;
    @include respond(lg) {
        padding: 0;
    }
    @include respond(xs) {
        text-align: center;
    }
    @include respond(sm) {
        padding: 0 95px;
    }
    .xb-item {
        &--title {
            font-size: 24px;
            line-height: 32px;
            margin-top: 40px;
            text-transform: uppercase;
            @include respond(md) {
                font-size: 22px;
            }
            @include respond(xs) {
                font-size: 24px;
                margin-top: 30px;
            }
        }
        &--icon {
            display: inline-block;
            @include transition(.5s);
        }
    }
    &:hover {
        .xb-item--icon {
            transform: rotateY(360deg);
        }
    }
}
.yr-feature-top {
    padding: 0 50px;
    @include respond(lg) {
        padding: 0;
    }
    @include respond(md) {
        text-align: center;
        margin-bottom: 55px;
    }
}
.yr-feature-img {
    margin-top: -20px;
    @include respond(md) {
        margin-top: 0;
        display: none;
    }
}
.yr-feature-text {
    display: inline-flex;
    align-items: center;
    position: absolute;
    bottom: 38px;
    left: 0;
    .item {
        display: inline-flex;
        margin-right: 52px;
        @include respond(xs) {
            margin-right: 10px;
        }
        h2 {
            font-size: 120px;
            display: inline-block;
            color: var(--color-white);
            text-transform: uppercase;
            @include respond(lg) {
                font-size: 90px;
            }
            @include respond(xs) {
                font-size: 60px;
            }
        }
        .img {
            padding: 17px;
            display: inline-flex;
            transform: translateY(-10px);
            @include border-radius(100px);
            border: 1px solid rgba(255, 255, 255, 0.11);
            animation: spin 10s linear infinite;
            @include respond(xs) {
                transform: translateY(0);
            }
        }
    }
}
.yr-feature-btn {
    display: inline-block;
}
.yr-feature-item-wrap {
    padding-top: 180px;
    position: relative;
    @include respond(xs) {
        padding-top: 0;
    }
}
.yr-feature-item-inner {
    gap: 162px;
    @media only screen and (min-width: 1200px) and (max-width: 1300px) {
        gap: 100px;
    }
    @include respond(md) {
        gap: 40px;
    }
} 
.yr-feature-title {
    font-size: 54px;
    margin-bottom: 78px;
    text-transform: uppercase;
    color: var(--color-white);
    @include respond(xs) {
        font-size: 38px;
        text-align: center;
    }
}
.yr-feature-item-two {
    padding: 25px 0 75px;
    position: relative;
    max-width: 322px;
    @include respond(lg) {
        max-width: 220px;
    }
    @media only screen and (max-width: 1023px) {
        max-width: 204px;
    }
    @include respond(xs) {
        padding: 0;
        max-width: 100%;
        text-align: center;
    }
    @include respond(sm) {
        padding: 0 105px;
    }
    .xb-item {
        &--title {
            font-size: 24px;
            margin: 35px 0 17px;
            color: var(--color-white);
            text-transform: uppercase;
        }
        &--content {
            line-height: 26px;
            color: rgba(255, 255, 255, 0.7);
        }
        &--icon {
            display: inline-block;
            @include transition(.5s);
        }
    }
    &.midle {
        &::before,
        &::after {
            position: absolute;
            content: '';
            height: 100%;
            width: 1px;
            left: -55px;
            top: 0;
            background: rgba(255, 255, 255, 0.1);
            @include respond(md) {
                left: -30px;
            }
            @include respond(xs) {
                display: none;
            }
        }
        &::after {
            left: auto;
            right: -55px;
            @include respond(md) {
                right: -5px;
            }
        }
    }
    &:hover {
        .xb-item--icon {
            transform: rotateY(360deg);
        }
    }
}
.feature-bg {
    z-index: 1;
    position: relative;
    overflow: hidden;
    min-height: 828px;
    @include respond(xs) {
        padding-top: 95px;
        padding-bottom: 79px;
    }
    &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(360deg, #0a2b50 0%, rgba(0, 17, 36, 0) 100%);
    }
    .background_video {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
    }
}
.feature-background {
    min-height: 1194px;
    @include respond(xs) {
        background-position: right;
    }
}
.xb-feature-video {
    position: relative;
    .xb-video {
        width: 170px;
        height: 100px;
        @include center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @include border-radius(51px);
        background: var(--color-primary);
    }
}
.xb-fea-item {
    &:not(:last-child) {
        margin-bottom: 50px;
    }
    .xb-item {
        &--title {
            font-size: 24px;
            margin-bottom: 6px;
        }
        &--holder {
            gap: 30px;
            margin-top: 14px;
            flex-wrap: nowrap;
            @include respond(md) {
                flex-wrap: wrap;
            }
        }
        &--content {
            color: #546b85;
            max-width: 408px;
        }
    }
}
.xb-feature-wrapper {
    margin-top: 70px;
}
.xb-fea-shape {
    .img {
        z-index: -1;
        position: absolute;
        &--1 {
            top: -20px;
            left: 70px;
        }
        &--2 {
            right: 0;
            bottom: 70px;
        }
    }
}