.sidebar {
    position: sticky;
    top: 50px;
    .sidebar_widget {
        padding: 30px 30px;
        border: 1px solid #dcdcdf;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}
//common title
.sidebar_widget_title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 15px;
    color: var(--color-heading);
}
// search 
.form-group {
	position: relative;
    .form-control {
        height: 44px;
        border-radius: 0;
        padding-right: 70px;
        padding: 10px 40px 10px 20px;
        border: 1px solid #dcdcdf;
        background: var(--color-white);
        color: var(--color-heading);
        &:focus {
            box-shadow: none;
            border: 1px solid var(--color-primary);
        }
    }
    .search_icon {
        position: absolute;
        top: 50%;
        right: 15px;
        background: transparent;
        transform: translateY(-50%);
    }
} 
//post
.recent_post_block {
    margin-top: 20px;
    margin-bottom: 10px;
    .recent_post_item {
        gap: 18px;
        &:not(:last-child) {
            margin-bottom: 24px;
        }
        .xb-item {
            &--title {
                font-size: 18px;
                font-weight: 500;
                line-height: 24px;
                margin-top: 9px;
                font-family: var(--font-body);
                color: var(--color-heading);
                a {
                    color: currentColor;
                }
                @include respond(lg) {
                    font-size: 16px;
                }
                @include respond(md) {
                    font-size: 18px;
                }
            }
            &--img {
                overflow: hidden;
                img {
                   transition: .3s ease-in-out;
                }
            }
            &--date {
                gap: 8px;
                display: flex;
                align-items: center;
                font-weight: 500;
                text-transform: capitalize;
                @include respond(lg) {
                    font-size: 16px;
                }
                @include respond(md) {
                    font-size: 18px;
                    
                }
            }
            &--holder {
                flex-grow: 1;
                flex-basis: 0;
            }
        }
        &:hover {
            .xb-item--img img {
                transform: scale(1.03);
            }
        }
    }
}
//popular tags
.tags_block {
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    li {
        display: inline-block;
        span {
            font-weight: 500;
            color: var(--color-heading);
            
        }
        a {
            font-weight: 500;
            font-size: 15px;
            padding: 2px 11px;
            color: var(--color-default);
            border: 1px solid #dcdcdf;
            @include transition(.3s);
            background: var(--color-white);
        }
        &:hover a {
            color: var(--color-white);
            background: var(--color-primary);
            border: 1px solid var(--color-primary);
        }
    } 
}

/*----------------------------------------*/
/*  27. sidebar start
/*----------------------------------------*/
.sidebar-menu-close {
    position: absolute;
    top: 53px;
    left: -61px;
    opacity: 1;
    width: 61px;
    height: 61px;
    @include center;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    @include border-radius(100px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    .xb-close {
        background: none;
        width: 30px;
        height: 30px;
        border: none;
    }
}
.offcanvas-sidebar .xb-close::before,
.offcanvas-sidebar .xb-close::after {
    background-color: var(--color-white);
}
.offcanvas-sidebar {
	position: fixed;
	overflow-y: auto;
	top: 0;
	right: -100%;
    width: 100%;
	height: 100%;
	display: block;
	z-index: 1020;
	background-color:#0a2b50;
    transition-duration: 500ms;
    background-image: url(../img/bg/sidebar_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}
.offcanvas-sidebar.active {
    right: 0;
}
.sidebar-wrapper {
    display: flex;
    justify-content: space-between;
}
.sidebar-left-item {
    padding: 50px 0 0 100px;
    @include respond(lg) {
        padding: 50px 0 0 50px;
    }
}
.sidebar-content {
    font-size: 26px;
    font-weight: 400;
    max-width: 605px;
    line-height: 38px;
    color: rgba(255, 255, 255, 0.8);
    @include respond(laptop) {
        max-width: 539px;
    }
    @media only screen and (min-width: 1200px) and (max-width: 1300px) {
        max-width: 390px;
    }
    @include respond(lg) {
        max-width: 410px;
    }
}
.sidebar-nav-wrap {
    width: 45.6%;
    position: relative;
}
.sidebar-nav {
    display: flex;
    flex-direction: column;
    border: 1px solid #1d446f;
    li {
        &:not(:first-child) {
            border-top: 1px solid #1d446f;
        }
        a {
            font-weight: 400;
            font-size: 60px;
            line-height: 200%;
            padding: 16px 84px;
            text-transform: uppercase;
            color: var(--color-white);
            background: transparent;
            display: flex;
            align-items: center;
            gap: 20px;
            justify-content: space-between;
            @include transition(.3s);
            @media only screen and (min-width: 1200px) and (max-width: 1300px) {
                font-size: 55px;
                padding: 16px 50px;
            }
            @include respond(lg) {
                font-size: 42px;
                padding: 28px 35px;
            }
            span {
                opacity: 0;
                transform: translateY(30px);
                @include transition(.3s);
                svg {
                    @include respond(lg) {
                        height: 26px;
                    }
                }
            }
            &:hover {
                background:#1a416c;
                span {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }
}
.sidebar-shape {
    .shape {
        position: absolute;
        &--1 {
            left: 0;
            bottom: 0;
            @media only screen and (min-width: 1200px) and (max-width: 1300px) {
                max-width: 45%;
            }
            @include respond(lg) {
                max-width: 40%;
            }
        }
        &--2 {
            left: 14.5%;
            bottom: 86px;
            z-index: -1;
            @include respond(laptop) {
                left: 20.5%;
            }
            @media only screen and (min-width: 1200px) and (max-width: 1300px) {
                max-width: 24%;
                left: 22.5%;
                bottom: 108px;
            }
            @include respond(lg) {
                left: 15%;
                bottom: 30px;
                max-width: 30%;
            }
        }
    }
}
/*----------------------------------------*/
/*  27. sidebar end
/*----------------------------------------*/