.xb-testimonial-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: transparent;
    @include transition(.3s);
    padding: 30px 100px 30px 30px;
    @include border-radius(10px);
    border: 1px solid rgba(10, 43, 80, 0.1);
    @media only screen and (min-width: 1200px) and (max-width: 1300px) {
        padding: 30px 80px 30px 30px;
    }
    @include respond(lg) {
        padding: 30px 50px 30px 30px;
    }
    @include respond(md) {
        gap: 60px;
        padding: 30px 60px 30px 30px;
    }
    @include respond(xs) {
        padding: 30px;
    }
    &:hover {
        background: var(--color-white);
    }
    .xb-item {
        &--img {
            width: 410px;
            overflow: hidden;
            margin-right: 60px;
            position: relative;
            @include border-radius(10px);
            @include respond(md) {
                margin-right: 0;
            }
            @include respond(xs) {
                width: 100%;
            }
            img {
                @include respond(xs) {
                    width: 100%;
                }
            }
        }
        &--quote {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &--holder {
            width: calc(100% - 470px);
            @include respond(md) {
                width: 100%;
            }
        }
        &--rating {
            gap: 5px;
            li i {
                color: #ffa121;
            }
        }
        &--content {
            font-size: 26px;
            line-height: 42px;
            display: block;
            margin-bottom: 75px;
            color: rgba(10, 43, 80, 0.7);
            @include respond(laptop) {
                line-height: 38px;
                margin-bottom: 65px;
            }
            @include respond(lg) {
                line-height: 36px;
            }
            @include respond(xs) {
                font-size: 22px;
                line-height: 34px;
            }
        }
        &--name {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 9px;
            font-family: var(--font-body);
        }
        &--desig {
            font-size: 16px;
            text-transform: uppercase;
        }
        &--bottom {
            align-items: end;
            @include respond(xs) {
                gap: 15px;
            }
        }
    }
}
.xb-testimonial-slider {
    margin-left: -345px;
    margin-right: -345px;
    @media only screen and (min-width: 1200px) and (max-width: 1300px) {
        margin-right: 100px;
        margin-left: 100px;
    }
    @include respond(lg) {
        margin-right: 15px;
        margin-left: 15px;
    }
    .swiper-slide-active {
       .xb-testimonial-item {
          background: var(--color-white);
        }
    }
    .swiper-pagination {
        z-index: 1;
        .swiper-pagination-bullet {
            width: 60px;
            height: 5px;
            opacity: 1;
            @include border-radius(30px);
            background: var(--color-white);
            @include respond(xs) {
                width: 40px;
            }
            &.swiper-pagination-bullet-active {
                background: var(--color-primary);
            }
        }
        &.swiper-pagination-bullets {
            left: 0;
            bottom: -60px;
        }
    }
}
.yr-testimonial-item {
    position: relative;
    .xb-item {
        &--holder {
            position: absolute;
            top: 50%;
            left: 50px;
            max-width: 508px;
            display: inline-block;
            padding: 50px 50px 35px 39px;
            background: var(--color-white);
            transform: translateY(-50%);
            @include respond(lg) {
                padding: 25px 50px 35px 39px;
            }
            @media only screen and (max-width: 1023px) {
                max-width: 460px;
            }
            @include respond(md) {
                max-width: 385px;
                padding: 20px 30px 20px;
            }
            @include respond(xs) {
                left: 10px;
                max-width: 190px;
                padding: 6px 10px;
            }
            @include respond(sm) {
                max-width: 220px;
                padding: 20px 15px 20px;
            }
        }
        &--author {
            gap: 13px;
            margin-top: 79px;
            opacity: 0;
            transform: translateY(20px);
            @include transition(.4s);
            @include respond(lg) {
                margin-top: 55px;
            }
            @include respond(md) {
                margin-top: 30px;
            }
            @include respond(xs) {
                gap: 8px;
                margin-top: 20px;
            }
        }
        &--content {
            font-size: 28px;
            line-height: 46px;
            opacity: 0;
            color: var(--color-heading);
            transform: translateY(20px);
            @include transition(.4s);
            @include respond(lg) {
                font-size: 24px;
                line-height: 38px;
            }
            @include respond(md) {
                font-size: 18px;
                line-height: 26px;
            }
            @include respond(xs) {
                font-size: 10px;
                line-height: 15px;
            }
            @include respond(sm) {
                font-size: 14px;
                line-height: 20px;
            }
        }
        &--avatar {
            @include respond(md) {
                max-width: 15%;
            }
        }
        &--name {
            font-weight: 600;
            font-size: 22px;
            color: #0f1529;
            letter-spacing: -0.02em;
            @include respond(md) {
                font-size: 18px;
            }
            @include respond(xs) {
                font-size: 10px;
            }
        }
    }
}
.yr-tes-btn {
    .swiper-button-prev,
    .swiper-button-next {
        height: 50px;
        width: 50px;
        top: 83%;
        @include transition(.3s);
        @include border-radius(100px);
        background: var(--color-white);
        @include respond(md) {
            width: 40px;
            height: 40px;
        }
        @include respond(xs) {
            width: 30px;
            height: 30px;
        }
        svg {
            path {
               @include transition(.3s);
            }
            @include respond(xs) {
                max-width: 35%;
            }
        }
        &:after {
            display: none;
        }
        &:hover {
            background: var(--color-primary);
            svg path {
                fill: #fff;
            }
        }
    }
    .swiper-button-prev {
        left: auto;
        right: 120px;
        @include respond(md) {
            right: 100px;
        }
        @include respond(xs) {
            right: 45px;
        }
    }
    .swiper-button-next {
        right: 50px;
        @include respond(xs) {
            right: 10px;
        }
    }
}
.yr-testimonial-slider .swiper-slide-active {
    .yr-testimonial-item {
        .xb-item {
            &--content {
                opacity: 1;
                transition-delay: .1s;
                transform: translateY(0);
            }
            &--author {
                opacity: 1;
                transition-delay: .3s;
                transform: translateY(0px);
            }
        }
    }
}
.sub_text-content {
    font-size: 24px;
    line-height: 36px;
    color: var(--color-heading);
    @include respond(md) {
        line-height: 32px;
        font-size: 22px;
    }
    @include respond(xs) {
        font-size: 18px;
        line-height: 28px;
    }
}
