.xb-yacht-item {
    padding: 14px;
    border: 1px solid rgba(10, 43, 80, 0.1);
    .xb-item {
        &--img {
            width: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0 !important;
            
            img {
                transition: 0.3s ease-in-out;
            }
        }
        &--icon_shape {
            height: 80px;
            width: 80px;
            right: 0;
            bottom: 0;
            z-index: 1;
            padding: 15px;
            @include center;
            position: absolute;
            background: var(--color-white);
            @include respond(lg) {
                height: 60px;
                width: 60px;
            }
        }
        &--holder {
            padding: 30px 16px 16px;
            @include respond(lg) {
                padding: 30px 6px 16px;
            }
        }
        &--title {
            font-size: 24px;
            margin-bottom: 10px;
            text-transform: uppercase;
            color: var(--color-heading);
            a {
                color: currentColor;
            }
        }
        &--content {
            line-height: 26px;
            color: rgba(10, 43, 80, 0.7);
            @media only screen and (min-width: 1200px) and (max-width: 1300px) {
                font-size: 16px;
            }
        }
        &--meta {
            margin-top: 25px;
            li {
                display: flex;
                padding: 13px 0;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid rgba(10, 43, 80, 0.1);
                &:first-child {
                    border-top: 1px solid rgba(10, 43, 80, 0.1);
                }
                span {
                    gap: 10px;
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                    font-size: 15px;
                    color: rgba(10, 43, 80, 0.7);
                    span {
                        width: 17px;
                    }
                }
            }
        }
        &--bottom {
            gap: 25px;
            margin-top: 20px;
            span {
                font-weight: 500;
                font-size: 15px;
                color: #ef5a38;
            }
            a {
                padding: 11px 20px;
            }
        }
    }
    &:hover {
        .xb-item--img > img {
            transform: scale(1.03);
        }
    }
}
.yr-yacht-item {
    padding-bottom: 0;
    background: var(--color-white);
    .xb-item {
        &--img {
            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                opacity: 0;
                height: 100%;
                width: 100%;
                z-index: 1;
                @include transition(.3s);
                background: rgba(10, 43, 80, 0.9);
            }
        }
        &--dollar {
            position: absolute;
            top: 16px;
            right: 16px;
            font-size: 15px;
            font-weight: 500;
            padding: 5px 12px;
            display: inline-block;
            color: var(--color-white);
            background: var(--color-primary);
        }
        &--category {
            font-weight: 500;
            margin-bottom: 10px;
            display: inline-block;
            color: var(--color-primary);
        }
        &--title {
            margin-bottom: 16px;
        }
        &--content {
            @include respond(md) {
                max-width: 265px;
            }
            @include respond(sm) {
                
                max-width: 100%;
            }
        }
        &--holder {
            padding: 24px 10px 0;
            @include respond(xs) {
                padding: 24px 0 0 10px;
            }
            @include respond(sm) {
                padding: 24px 10px 0;
            }
        }
        &--meta {
            gap: 20px;
            margin-top: 30px;
            border-top: 1px solid rgba(10, 43, 80, 0.1);
            @media only screen and (min-width: 1200px) and (max-width: 1300px) {
                gap: 12px;
            }
            @include respond(lg) {
                gap: 8px;
            }
            @media only screen and (max-width: 1023px) {
                gap: 5px;
            }
            @include respond(md) {
                gap: 11px;
            }
            @include respond(sm) {
                justify-content: space-between;
            }
            li {
                gap: 9px;
                padding: 21px 0;
                display: inline-flex;
                border-bottom: none;
                @include respond(lg) {
                    gap: 5px;
                    font-size: 16px;
                }
                @media only screen and (max-width: 1023px) {
                    gap: 3px;
                }
                @include respond(md) {
                    gap: 4px;
                    font-size: 17px;
                }
                @include respond(sm) {
                    gap: 9px;
                }
                &:first-child {
                    border-top: none;
                }
                &:not(:last-child) {
                    padding-right: 20px;
                    border-right: 1px solid rgba(10, 43, 80, 0.1);
                    @media only screen and (min-width: 1200px) and (max-width: 1300px) {
                        padding-right: 12px;
                    }
                    @include respond(lg) {
                        padding-right: 8px;
                    }
                    @media only screen and (max-width: 1023px) {
                        padding-right: 5px;
                    }
                    @include respond(md) {
                        padding-right: 11px;
                    }
                    @include respond(sm) {
                        padding-right: 55px;
                    }
                }
                span {
                    @include respond(lg) {
                        max-width: 18%;
                    }
                }
            }
        }
        &--btn {
            z-index: 2;
            opacity: 0;
            position: absolute;
            transform: scale(0.6); 
            @include transition(.3s);
        }
    }
    &:hover {
        .xb-item--img::before {
            opacity: 1;
        }
        .xb-item--btn {
            opacity: 1;
            transform: scale(1); 
        }
    }
}
.xb-yacht-form {
    margin: 0 !important;
    border-radius: 0 !important;
    padding: 45px 25px 60px !important;
    .heading {
        @include respond(lg) {
            font-size: 28px !important;
        }
    }
}
.xb-sidebar-banner {
    margin-right: 0 !important;
    .xb-img {
        border-radius: 0 !important;
    }
}
.xb-yacht-container {
    padding: 60px 50px 50px;
    border: 1px solid #dcdcdf;
    @include respond(lg) {
        padding: 60px 40px 50px;
    }
    @include respond(xs) {
        padding: 60px 25px 50px;
    }
}
.xb-yacht-content {
    padding-right: 44px;
}
.xb-yacht-service {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 48px;
    @include respond(md) {
        gap: 20px 0;
    }
    li {
        width: 40%;
        padding-left: 20px;
        position: relative;
        color: var(--color-gray);
        @include respond(lg) {
            width: 100%;
        }
        @include respond(md) {
            width: 50%;
        }
        @include respond(xs) {
            width: 100%;
        }
        &::before {
            position: absolute;
            content: '';
            height: 6px;
            width: 6px;
            left: 0;
            top: 50%;
            background: #53624e;
            transform: translateY(-50%) rotate(45deg);
        }
    }
}
.xb-yacht-meta {
    gap: 40px;
    margin: 57px 0 65px;
    padding: 8px 0;
    border-top: 1px solid #dcdcdf;
    border-bottom: 1px solid #dcdcdf;
    @include respond(lg) {
        gap: 22px;
    }
    @include respond(sm) {
        gap: 15px;
    }
    li {
        gap: 50px;
        display: flex;
        padding: 0 40px 0 0;
        align-items: center;
        text-transform: capitalize;
        justify-content: space-between;
        border-right: 1px solid #dcdcdf;
        @include respond(lg) {
            padding: 0 22px 0 0;
        }
        @include respond(xs) {
            border-right: none;
        }
        @include respond(sm) {
            padding: 0 15px 0 0;
            border-right: 1px solid #dcdcdf;
        }
        &:first-child {
            padding-left: 14px;
            @include respond(xs) {
                padding-left: 0;
            }
        }
        span {
            gap: 10px;
            font-size: 15px;
            font-weight: 500;
            display: flex;
            align-items: center;
            color: var(--color-gray);
            span {
                width: 17px;
            }
        }
    }
}
.xb-yacht-ser-details {
    margin-bottom: 40px;
    @include respond(lg) {
        gap: 20px 0;
    }
    li {
        display: flex;
        padding-left: 0;
        &::before {
            display: none;
        }
        @include respond(lg) {
            width: 50%;
        }
        @include respond(xs) {
            width: 100%;
        }
        span {
            font-weight: 500;
            color: #546b85;
            &:first-child {
                width: 95px;
                display: inline-block;
                color: var(--color-heading);
            }
            &:last-child {
                flex-grow: 1;
                flex-basis: 0;
            }
        }
    }
}
.xb-yacht-image {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    .image-top {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
        @include respond(xs) {
            flex-wrap: wrap;
        }
    }
}
.google-map {
    width: 100%;
    height: 470px;
    iframe {
        width: 100%;
        height: 100%;
    }
}
.xb-rating-box {
    text-align: center;
    padding: 35px 55px;
    margin-right: 48px;
    border: 1px solid #dcdcdf;
    @include respond(xs) {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .xb-item {
        &--number {
            font-size: 54px;
            font-weight: 400;
        }
        &--star {
            gap: 3px;
            margin: 8px 0 6px;
            display: inline-flex;
            li {
                font-size: 12px;
                color: #ffa121;
            }
        }
        &--text {
            font-weight: 500;
            display: block;
            color: rgba(10, 43, 80, 0.7);
        }
    }
}
.xb-overview {
    margin-top: -6px;
    width: calc(100% - 251px);
    @include respond(xs) {
        width: 100%;
        margin-top: 0;
    }
}
.xb-progress-item {
    &:not(:last-child) {
        margin-bottom: 25px;
    }
    .progress {
        padding: 5.5px 6px 0px;
        border-radius: 0;
        border: 1px solid #dcdcdf;
        .progress-bar {
            height: 2px;
            background: #f15a29;
        }
    }
    .xb-holder {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        justify-content: space-between;
        span {
            font-weight: 500;
            font-size: 16px;
            color: #546b85;
        }
    }
}
//review-area
.rivew_area {
    margin-top: 80px;
    .comment_item {
        padding-right: 0;
    }
    .comments_list {
        & > li {
            &:last-child {
                padding-left: 0px;
                .comment_author_content {
                    padding-right: 90px;
                    @include respond(xs) {
                        padding-right: 0;
                    }
                }
            }
        }
    }
}
.xb-review-star {
    gap: 3px;
    top: 0;
    right: 0;
    position: absolute;
    padding: 3px 15px;
    display: inline-flex;
    background: var(--color-white);
    border: 1px solid rgba(10, 43, 80, 0.1);
    @include respond(xs) {
        top: -80px;
    }
    li {
        font-size: 14px;
        color: #ffa121;
    }
}
.xb-yacht-ser-list {
    gap: 17px;
    li {
        width: 100%;
        &::before {
            background: var(--color-primary);
        }
    }
}
.xb-yacht-sidebar {
    position: sticky;
    top: 50px;
}